.category-button {
    height: 2.5em;
    transition: height 0.5s;
}

.category-button:hover {
    height: 4em;
}

.category-row .col {
    padding-left: 0.3em;
    padding-right: 0.3em;
    max-width: 10em;
    max-height: 10em;
}

.category-row {
    justify-content: space-evenly;
}

/* //mediaquery */
    width: 10em;